<a href="https://colab.research.google.com/github/AntonGitOrlov/FirstRepository/blob/master/Python_%D0%B4%D0%BB%D1%8F_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0_%D0%B8_%D0%B2%D0%B8%D0%B7%D1%83%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D0%A1%D0%B0%D0%BC%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Цель Блокнота

* Закрепить методы и функции библиотек `pandas` и `seaborn` для анализа и визуализации данных

* Познакомиться с некоторыми идеями инженерии признаков

# Набор данных

**Оценка стоимости  и типа трансмиссии по данным продаж автомобилей на вторичном рынке Молдавии**

Набор данных представляет собой статистику параметров автомобилей на вторичном рынке в Молдавии.

Набор включает ряд категориальных и численных значений, составляющих одну запись (строку). Число записей можно найти как число строк.

Каждый столбец в записи — это отдельный признак.

# Import библиотек

In [1]:
import pandas as pd # Библиотека Pandas для работы с табличными данными
import numpy as np # библиотека Numpy для операций линейной алгебры и прочего
import matplotlib.pyplot as plt # библиотека MatPlotLib для визуализации
import seaborn as sns # библиотека Seaborn для визуализации данных из Pandas

## Считываем файл в DataFrame

функция `.read_csv(path,delimiter) `

* `path` путь к файлу + имя файла
* `delimiter` разделитель

Загрузим данные БЕЗ дубликатов и БЕЗ выбросов

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/dayekb/mpti_ml/main/data/cars_moldova_no_dup_no_outliers.csv',
                 delimiter = ',') # можно считывать открытые файлы из интернета

В результате в переменную `df` класс DataFrame на основе считанного файла

In [3]:
df # в блокнотах Colab если запустить ячеку с переменной, то будет визуализирована эта переменная

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,Toyota,Prius,2011,Hatchback,195000.0,1800.0,Hybrid,Automatic,7750.0
1,Renault,Grand Scenic,2014,Universal,135000.0,1500.0,Diesel,Manual,8550.0
2,Renault,Laguna,2012,Universal,110000.0,1500.0,Diesel,Manual,6550.0
3,Opel,Astra,2006,Universal,200000.0,1600.0,Metan/Propan,Manual,4100.0
4,Mercedes,Vito,2000,Microvan,300000.0,2200.0,Diesel,Manual,3490.0
...,...,...,...,...,...,...,...,...,...
32480,Volkswagen,Passat,2016,Sedan,88000.0,1800.0,Petrol,Automatic,11500.0
32481,Land Rover,Freelander,2002,Crossover,225000.0,1800.0,Metan/Propan,Manual,4400.0
32482,Dacia,Logan Mcv,2015,Universal,89000.0,1500.0,Diesel,Manual,7000.0
32483,Mazda,6,2006,Combi,370000.0,2000.0,Diesel,Manual,4000.0
32484,Renault,Grand Scenic,2006,Minivan,300000.0,1500.0,Diesel,Manual,4000.0

## Информация о DataFrame

Давайте снова посмотрим на наш набор данных


---


Метод `.info() `

In [ ]:
# Место для вашего кода

## Индексация и Сортировка

* Индексация - явный индекс аттрибут `.loc[строки, столбцы]`

* Логическое Индексирование -`Датафрейм[условие]`

* сортировка Метод `.sort_values(by)`, `by` - по какой колонке сортируем

* Метод `.sort_values(by, ascending= False)` если хотим по убыванию

****

### Задание 1

**1.1**
* Выберите из полного датафрейма строки с индекса `69` по `322`.
* Отсортируйте полученный датафрейм по колонке `'Distance'` по убыванию.
* Какое значение колонки `'Style'` у полученного датафрейма во второй строке сверху

In [ ]:
# Место для вашего кода

**1.2**
* Выберите из полного датафрейма строки которые соответсвуют условиям тип топлива `'Fuel_type'` равен `'Petrol'`.
* Укажите самую дорогую марку автомобиля `'Make'`

In [ ]:
# Место для вашего кода

**1.3**
* Найдите самую старую модель `'Model'` марки `'Mercedes'`

In [ ]:
# Место для вашего кода

# EDA - Разведывательный анализ данных.

In [ ]:
cat_columns = [] # создаем пустой список для имен колонок категориальных данных
num_columns = [] # создаем пустой список для имен колонок числовых данных

for column_name in df.columns: # смотрим на все колонки в DataFrame
    if (DF[column_name].dtypes == object): # проверяем тип данных для каждой колонки
        cat_columns +=[column_name] # если тип объект - то складываем в категориальные данные
    else:
        num_columns +=[column_name] # иначе - числовые

# важно: если признак категориальный, но хранится в формате числовых данных, тогда код не сработает корректно

# выводим результат
print('Категориальные данные:\t ',cat_columns, '\n Число столблцов = ',len(cat_columns))

print('Числовые данные:\t ',  num_columns, '\n Число столблцов = ',len(num_columns))

## Анализ числовых признаков

Получите общую статистику по числовым признакам и расположите для себя числовые признаке в порядке возрастания диапазона изменений данных



---


Статистика по числовым данным

метод `.describe()`

In [ ]:
# Место для вашего кода

место для вашего комментария

## агрегация

* К DataFrame применяется метод `.groupby()` с указанием (по чему группировать), а затем то, что хотим посчитать по группе (в данном случае `.mean()`)

Более сложный вариант

* К DataFrame применяется метод `.groupby()` с указанием (по чему группировать), а затем `.agg()`, где **списком** перичисляем то что хотим посчитать. Список состоит из элементов вида `('название', функция)`

### Задание 2

**2.1**

Используя агрегацию найдите самую дорогую (в среднем) марку автомобилей (столбец `'Make'`)

In [ ]:
# Место для вашего кода

**2.2**

Используя агрегацию найдите модели (столбец `'Model'`) с наибольшим средним пробегом

In [ ]:
# Место для вашего кода

**2.3**

Используя агрегацию найдите тип топлива (столбец `'Fuel_type'`) который самый молодой (в среднем)

In [ ]:
# Место для вашего кода

## Корреляция числовых признаков

Оцените корреляцию числовых признаков после удаления аномальных значений. Оцените много ли изменилось


---


* `.corr()` для получения матрицы корреляции из DataFrame (нечисловые признаки будут проигнорированы)

* `.style.background_gradient(cmap, vmin, vmax)` чтобы подсветить красиво таблицу

* [список цветовых карт](https://matplotlib.org/stable/gallery/color/colormap_reference.html)

In [ ]:
# Место для вашего кода

## Категориальные данные

* Статистика по категориальным данным метод `.describe()`

* Число повторений результата в каждом категориальном признаке метод `.nunique()`

* Считаем сколько раз каждое значение категории встретчается методом `.value_counts()`

### Задание 3

**3.1**

* Выполните агрегацию по столбцу марка автомобиля `Make`
* Оцените среднее значение (mean) стоимости автомобилей `Price(euro)` и количество (count)
* объедините результат агрегации с исходным датафреймом
* Добавьте новый стобец данных `Make_new`, поместив в него текущие значения столбца , поместив в него текущие значения столбца `Make`
* В столбце `Make_new` делайте замену редких марок автомобиля (реже 25) по следующему правилу:
    *  если марка редкая и стоимость высокая (выше 75 перцентиля) - то поставьте значение `rare_expansive`
    * если марка редкая и стоимость низкая (выше 25 перцентиля) - то поставьте значение `rare_cheap`
    * остальные редкие марки замените значением `rare`

* Замену можно выполнять используя логическое индексирование
* Посчитайте количество сделанных замен

In [ ]:
# Место для вашего кода

**3.2**

* Выполните агрегацию одновременно по стобцам год `Year` и тип топлива `Make`
* Оцените среднее значение стоимости автомобилей `Price(euro)`
* Объедините результат агрегации с исходным датафреймом

In [ ]:
# Место для вашего кода

# Библиотеки для визуализации данных

## Гистограммы распределений

гистограммо-подобное
 `.displot(data, x, y, kind,...)`

In [ ]:
sns.displot(data = df,     # какой датафрейм используем
             x = "Engine_capacity(cm3)", # какую переменную отрисовываем
            kind = 'hist',   # какой график рисуем
            aspect=2, # соотношение длины/высоты
             );

In [ ]:
sns.displot(data = df,     # какой датафрейм используем
             x = "Price(euro)", # какую переменную отрисовываем
            kind = 'hist',   # какой график рисуем
            aspect=2, # соотношение длины/высоты
             );

Модифицируем некоторые признаки

### Задание 4

**4.1**
* Добавьте новый столбец `Engine_category`
* Используя данные изображенной гистограмы (или используя знания в предметной области) заполните новый столбец `Engine_category` категориальными  значениями (например 'Zero', 'Small', 'Medium', 'High', 'Brrrr')
* Оцените встречаемость каждой новой полученной категории

In [ ]:
# Место для вашего кода

**4.2**
* Добавьте новый столбец `Price_modified` , поместив в него текущие значения столбца `Price(euro)`
* Используя [простые функции](https://colab.research.google.com/drive/1mqh2F1v7QG0O_Bzm9fFIJ53clMbIjkij#scrollTo=m1lDxMw61oKm) библиотеки NumPy сделайте так чтобы распределение столбца `Price_modified` стало нормальным (напоминающим колокол)
* Убедитесь что вы всё сделали верно, выполнив визуализацию в виде гистограммы

In [ ]:
# Место для вашего кода