# **2. Базовые конструкции Python**

## **2.1. Ввод и вывод данных. Операции с числами, строками. Форматирование**

### **Контент**

In [ ]:
print("Привет, мир!")

Привет, мир!

In [ ]:
print('Привет, мир!')
print("Привет, мир!")
print("""Привет, мир!""")
print("Программа выводит фразу 'Привет, мир!'")

Привет, мир!
Привет, мир!
Привет, мир!
Программа выводит фразу 'Привет, мир!'

In [ ]:
phrase = input()
print(phrase)

екернрнр
екернрнр

In [ ]:
phrase = input("Введите строку: ")
print(phrase)

Введите строку: Привет!
Привет!

In [ ]:
name = "Пользователь"
print("Добрый день,", name, ".")

Добрый день, Пользователь .

In [ ]:
name = "Пользователь"
print("Добрый день, ", name, ".", sep="")

Добрый день, Пользователь.

In [ ]:
name = "Пользователь"
print(f"Добрый день, {name}.")

Добрый день, Пользователь.

In [ ]:
print(f"{123:0>9}")
print(f"{123:0<9}")
print(f"{123:0^9}")

000000123
123000000
000123000

In [ ]:
print("\\")

\

In [ ]:
print("Привет, Пользователь!")
print("Как дела?")

Привет, Пользователь!
Как дела?

In [ ]:
print("Сложно" + "подчинённый")

Сложноподчинённый

In [ ]:
print("-" * 10)

----------

In [ ]:
n = 10
pi = 3.14

In [ ]:
n_1 = "1"
n_2 = "2"
print(n_1 + n_2)
n_1 = int(n_1)
n_2 = int(n_2)
print(n_1 + n_2)

12
3

In [ ]:
x = 3.89
x = int(x)
print(x)

3

In [ ]:
width = "3.7"
height = "2.5"
s = float(width) * float(height)
print(s)

9.25

In [ ]:
int_number = int(input())
float_number = float(input())

In [ ]:
n = 25
x = 0.5

print(n + x)
print(n - x)
print(n * x)
print(n / x)
print(n ** x)

25.5
24.5
12.5
50.0
5.0

In [ ]:
print(4 / 2)

2.0

In [ ]:
print(f"{2 ** 0.5:.2f}")

1.41

In [ ]:
last_digit = 1234 % 10
print(last_digit)

4

In [ ]:
penultimate_digit = 1234 // 10 % 10
print(penultimate_digit)

3

In [ ]:
binary_value = "1001"
print(int(binary_value, 2))

9

### **Задачи**

#### **№2.1.1 Привет, Яндекс!**

In [ ]:
print("Привет, Яндекс!")

Привет, Яндекс!

#### **№2.1.2 Привет, всем!**

In [ ]:
name = input("Как Вас зовут?")
print(f"Привет, {name}")

Как Вас зовут?Антон
Привет, Антон

#### **№2.1.3 Излишняя автоматизация**

In [ ]:
var_input = input()
print(f"{var_input}\n" * 3)

2 + 2 = 4
2 + 2 = 4
2 + 2 = 4
2 + 2 = 4

#### **№2.1.4 Сдача**

In [ ]:
print(int(int(input()) - 2.5 * 38))

100
5

#### **№2.1.5 Магазин**

In [ ]:
price = int(input())
weight = int(input())
cash = int(input())

print(cash - price * weight)

187
43
8041
0

#### **№2.1.6 Чек**

In [ ]:
name_of_good = input()
price = int(input())
weight = int(input())
cash = int(input())

print(f"""Чек
{name_of_good} - {weight}кг - {price}руб/кг
Итого: {weight * price}руб
Внесено: {cash}руб
Сдача: {0 if (cash - price * weight) < 0 else (cash - price * weight)}руб""")

манго
187
43
8000
Чек
манго - 43кг - 187руб/кг
Итого: 8041руб
Внесено: 8000руб
Сдача: 0руб

#### **№2.1.7 Делу — время, потехе — час**

In [ ]:
print("Купи слона!\n" * int(input()), end="")

3
Купи слона!
Купи слона!
Купи слона!

#### **№2.1.8 Наказание**

In [ ]:
print(int(input()) * f'Я больше никогда не буду писать "{input()}"!\n', end="")

2
Купи слона!
Я больше никогда не буду писать "Купи слона!"!
Я больше никогда не буду писать "Купи слона!"!

#### **№2.1.9 Деловая колбаса**

In [ ]:
print(int((int(input()) * int(input())) / 2))

10
10
50

#### **№2.1.10 Детский сад — штаны на лямках**

In [ ]:
name = input()
locker = input()

print(f"""Группа №{locker[0]}.
{locker[2]}. {name}.
Шкафчик: {locker}.
Кроватка: {locker[1]}.""")

Ванечка
832
Группа №8.
2. Ванечка.
Шкафчик: 832.
Кроватка: 3.

#### **№2.1.11 Автоматизация игры**

In [ ]:
number = input()
print(number[:2][::-1] + number[2:][::-1])

1412
4121

In [ ]:
number = int(input())
n_4 = number % 10
n_3 = number // 10 % 10
n_2 = number // 10 // 10 % 10
n_1 = number // 10 // 10 // 10

print(str(n_2) + str(n_1) + str(n_4) + str(n_3))

1234
2143

#### **№2.1.12 Интересное сложение**

In [ ]:
number_1 = int(input())
number_2 = int(input())

rank_1 = str((number_1 % 10 + number_2 % 10) % 10)
rank_2 = str((number_1 // 10 % 10 + number_2 // 10 % 10) % 10)
rank_3 = str((number_1 // 10 // 10 % 10 + number_2 // 10 // 10 % 10) % 10)

print(int(rank_3 + rank_2 + rank_1))

45
69
4

#### **№2.1.13 Дед Мороз и конфеты**

In [ ]:
number_1 = int(input())
number_2 = int(input())

print(number_2 // number_1)
print(number_2 % number_1)

20
500
25
0

#### **№2.1.14 Шарики и ручки**

In [ ]:
number_r = int(input())
number_g = int(input())
number_b = int(input())

print(number_r + number_b + 1)

1
2
3
5

#### **№2.1.15 В ожидании доставки**

In [ ]:
N = int(input())
M = int(input())
T = int(input())

print(f"""{((((T // 60) + N) + ((T % 60) + M) // 60) % 24):0>2}:{(((T % 60) + M) % 60):0>2}""")

10
15
2752
08:07

In [ ]:
print(60 % 60) # остаток от деления; отрезание последней цифры (если делим на 10)
print(60 // 60) # целочисленное деление; получение последней цифры (если делим на 10)

0
1

In [ ]:
print(65 % 60)
print(65 // 60)

5
1

In [ ]:
print(55 % 60)
print(55 // 60)

55
0

In [ ]:
print(2752 % 60)
print(2752 // 60)

52
45

#### **№2.1.16 Доставка**

In [ ]:
A = int(input())
B = int(input())
C = int(input())

print(f"{(B - A) / C:.2f}")

1
100
30
3.30

In [ ]:
A = int(input())
B = int(input())
C = int(input())

print(round(abs(B - A) / C, 3))

1
100
30
3.3

#### **№2.1.17 Ошибка кассового аппарата**

In [ ]:
A = int(input())
B = int(input())

print(A + int(str(B), 2))

783
10110111
966

#### **№2.1.18 Сдача 10**

In [ ]:
A = input()
B = int(input())

print(B - int(A, 2))

101111100
500
120

#### **№2.1.19 Украшение чека**

In [ ]:
# good = "черешня"
# price = 2
# weight = 3
# cash = 10

# good = "манго"
# price = 187
# weight = 43
# cash = 8041

good = input()
price = int(input())
weight = int(input())
cash = int(input())


purchase = price * weight

print(f"""================Чек================
Товар:{good:>29}
Цена:{weight:{20 - 1 - len(str(price))}}кг *{price:{1 + len(str(price))}}руб/кг
Итого:{purchase:26}руб
Внесено:{cash:24}руб
Сдача:{cash - purchase:26}руб
===================================""")

манго
187
43
8041
================Чек================
Товар:                        манго
Цена:              43кг * 187руб/кг
Итого:                      8041руб
Внесено:                    8041руб
Сдача:                         0руб
===================================

In [ ]:
value = 42
cell = 10
print(f"""!{value:{cell}}!""")

!        42!

In [ ]:
print(len(str(3435)))

4

In [ ]:
len('erferf')

6

#### **№2.1.20 Мухи отдельно, котлеты отдельно**

In [ ]:
# N = 32
# M = 285
# K_1 = 300
# K_2 = 240

N = int(input())
M = int(input())
K_1 = int(input())
K_2 = int(input())


x = -N * (K_2 - M) / (K_1 - K_2)
y = N - x

print(int(x), int(y))

32
285
300
240
24 8

## **2.2. Условный оператор**

### **Контент**

In [ ]:
yesterday_temp = int(input())
today_temp = int(input())
if today_temp > yesterday_temp:
    print("Сегодня теплее, чем вчера.")
elif today_temp < yesterday_temp:
    print("Сегодня холоднее, чем вчера.")
else:
    print("Сегодня такая же температура, как вчера.")

15
14
Сегодня холоднее, чем вчера.

In [ ]:
print("Введите первую и последнюю буквы русского алфавита.")
first_letter = input()
last_letter = input()
if (first_letter == "а" or first_letter == "А") and (
        last_letter == "я" or last_letter == "Я"):
    print("Верно.")
else:
    print("Неверно.")

Введите первую и последнюю буквы русского алфавита.
ф
я
Неверно.

In [ ]:
if x >= 0 and x < 100:
    ...

if 0 <= x < 100:
    ...

In [ ]:
letter_1 = "t"
letter_2 = "w"
print(letter_1 > letter_2)

False

In [ ]:
print(ord("t"), ord("w"))

116 119

In [ ]:
print(chr(116), chr(119))

t w

In [ ]:
text = input()
if "добр" in text:
    print("Встретилось 'доброе' слово.")
else:
    print("Добрых слов не найдено.")

добрый день
Встретилось 'доброе' слово.

In [ ]:
color = input()
match color:
    case 'красный' | 'жёлтый':
        print('Стоп.')
    case 'зелёный':
        print('Можно ехать.')
    case _:
        print('Некорректное значение.')

красный
Стоп.

### **Задачи**

#### **№2.2.1 Просто здравствуй, просто как дела**

In [ ]:
username = input("Как Вас зовут?\n")
print(f"Здравствуйте, {username}!")
answer = input("Как дела?\n")

if answer == "хорошо":
    print("Я за вас рада!")
elif answer == "плохо":
    print("Всё наладится!")

Как Вас зовут?
Гандон
Здравствуйте, Гандон!
Как дела?
плохо
Всё наладится!

In [ ]:
print("Как Вас зовут?")
username = input()
print(f"Здравствуйте, {username}!")
print("Как дела?")
answer = input()

if answer == "хорошо":
  print("Я за вас рада!")
elif answer == "плохо":
  print("Всё наладится!")

Как Вас зовут?
Антон
Здравствуйте, Антон!
Как дела?
хорошо
Я за вас рада!

In [ ]:
username = input("Как Вас зовут?\n")
print(f"Здравствуйте, {username}!")
answer = input("Как дела?\n")

if answer == "хорошо":
  print("Я за вас рада!")
else:
  print("Всё наладится!")

Как Вас зовут?
Антон
Здравствуйте, Антон!
Как дела?
хорошо
Я за вас рада!

#### **№2.2.2 Кто быстрее?**

In [ ]:
Pet = int(input())
Vas = int(input())

distance = 43872

time_P = 43872 / Pet
time_V = 43872 / Vas

if time_P < time_V:
    print("Петя")
else:
    print("Вася")

5
7
Вася

#### **№2.2.3 Кто быстрее на этот раз?**

In [ ]:
Pet_speed = float(input())
Vas_speed = float(input())
Tol_speed = float(input())

Pet_time = 43872 / Pet_speed
Vas_time = 43872 / Vas_speed
Tol_time = 43872 / Tol_speed

if Pet_time < Vas_time:
    if Pet_time < Tol_time:
        print("Петя")
    elif Tol_time < Vas_time:
        print("Толя")
elif Vas_time < Tol_time:
    print("Вася")
else:
    print("Толя")

2
1
5
Толя

#### **№2.2.4 Список победителей**

In [ ]:
Pet_speed = float(input())
Vas_speed = float(input())
Tol_speed = float(input())

Pet_time = 43872 / Pet_speed
Vas_time = 43872 / Vas_speed
Tol_time = 43872 / Tol_speed

if Pet_time < Vas_time and Pet_time < Tol_time:
    print("1. Петя")
    if Vas_time < Tol_time:
        print("2. Вася\n", "3. Толя", sep="")
    else:
        print("2. Толя\n", "3. Вася", sep="")
elif Vas_time < Pet_time and Vas_time < Tol_time:
    print("1. Вася")
    if Pet_time < Tol_time:
        print("2. Петя\n", "3. Толя", sep="")
    else:
        print("2. Толя\n", "3. Петя", sep="")
else:
    if Pet_time < Vas_time:
        print("1. Толя\n", "2. Петя\n", "3. Вася", sep="")
    else:
        print("1. Толя\n", "2. Вася\n", "3. Петя", sep="")

3
2
1
1. Петя
2. Вася
3. Толя

In [ ]:
Pet_speed = float(input())
Vas_speed = float(input())
Tol_speed = float(input())

Pet_time = 43872 / Pet_speed
Vas_time = 43872 / Vas_speed
Tol_time = 43872 / Tol_speed

if Pet_time < Vas_time and Pet_time < Tol_time:
    print("1. Петя")
    if Vas_time < Tol_time:
        print("2. Вася\n", "3. Толя", sep="")
    else:
        print("2. Толя\n", "3. Вася", sep="")
elif Vas_time < Pet_time and Vas_time < Tol_time:
    print("1. Вася")
    if Pet_time < Tol_time:
        print("2. Петя\n", "3. Толя", sep="")
    else:
        print("2. Толя\n", "3. Петя", sep="")
elif Tol_time < Pet_time and Tol_time < Vas_time:
    print("1. Толя")
    if Pet_time < Vas_time:
        print("2. Петя\n", "3. Вася", sep="")
    else:
        print("2. Вася\n", "3. Петя", sep="")

3
2
1
1. Петя
2. Вася
3. Толя

In [ ]:
first_name = 'Петя'
first_speed = float(input())
second_name = 'Вася'
second_speed = float(input())
third_name = 'Толя'
third_speed = float(input())

if first_speed < second_speed:
    first_speed, second_speed = second_speed, first_speed  # Обмен значениями скоростей
    first_name, second_name = second_name, first_name  # Обмен именами велогонщиков

if second_speed < third_speed:
    second_speed, third_speed = third_speed, second_speed
    second_name, third_name = third_name, second_name

if first_speed < second_speed:
    first_speed, second_speed = second_speed, first_speed
    first_name, second_name = second_name, first_name

print(f"1. {first_name}\n2. {second_name}\n3. {third_name}\n")

1
2
3
1. Толя
2. Вася
3. Петя

#### **№2.2.5 Яблоки**

In [ ]:
Dim_give_to_Pet = int(input())
Dim_give_to_Vas = int(input())

amount_Pet = 7 - 3 + 2 - 2 + Dim_give_to_Pet
amount_Vas = 6 + 3 + Dim_give_to_Vas

if amount_Pet > amount_Vas:
    print("Петя")
else:
    print("Вася")

10
2
Петя

#### **№2.2.6 Сила прокрастинации**

In [ ]:
year = int(input())

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print("YES")
else:
    print("NO")

2000
YES

In [ ]:
2020 % 4

0

#### **№2.2.7 А роза упала на лапу Азора**

In [ ]:
num = input()

if num == num[::-1]:
    print("YES")
else:
    print("NO")

1221
YES

#### **№2.2.8 Зайка — 1**

In [ ]:
string = input()

if "зайка" in string:
    print("YES")
else:
    print("NO")

березка елочка зайка волк березка
YES

#### **№2.2.9 Первому игроку приготовиться**

In [ ]:
name_1 = input()
name_2 = input()
name_3 = input()

if name_1 < name_2:
    if name_1 < name_3:
        print(name_1)
    elif name_3 < name_2:
        print(name_3)
elif name_2 < name_3:
    print(name_2)
else:
    print(name_3)

Толя
Коля
Вася
Вася

#### **№2.2.10 Лучшая защита — шифрование**

In [ ]:
num = int(input())

hundreds = num // 100
tens = num // 10 % 10
units = num % 10

# print(hundreds, tens, units)

if (hundreds + tens) > (tens + units):
    print(str(hundreds + tens) + str(tens + units))
else:
    print(str(tens + units) + str(hundreds + tens))

741
115

#### **№2.2.11 Красота спасёт мир**

In [ ]:
num = int(input())

hundreds = num // 100
tens = num // 10 % 10
units = num % 10


if hundreds != min(hundreds, tens, units) and hundreds != max(hundreds, tens, units):
    if (max(hundreds, tens, units) + min(hundreds, tens, units)) == hundreds * 2:
        print("YES")
    else:
        print("NO")
elif tens != min(hundreds, tens, units) and tens != max(hundreds, tens, units):
    if (max(hundreds, tens, units) + min(hundreds, tens, units)) == tens * 2:
        print("YES")
    else:
        print("NO")
else:
    if (max(hundreds, tens, units) + min(hundreds, tens, units)) == units * 2:
        print("YES")
    else:
        print("NO")

748
NO

#### **№2.2.12 Музыкальный инструмент**

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if (a + b > c) and  (a + c > b) and (b + c > a):
    print("YES")
else:
    print("NO")

1
2
3
NO

#### **№2.2.13 Властелин Чисел: Братство общей цифры**

In [ ]:
num_1 = int(input())
num_2 = int(input())
num_3 = int(input())

if (num_1 // 10) == (num_2 // 10) == (num_3 // 10):
    print(num_1 // 10)
elif (num_1 % 10) == (num_2 % 10) == (num_3 % 10):
    print(num_1 % 10)
else:
    print("")

23
13
63
3

#### **№ - 2.2.14 Властелин Чисел: Две Башни**

In [ ]:
# num_14 = int(input())

num_14 = 103 # 10 31

hundreds = num_14 // 100
tens = num_14 // 10 % 10
units = num_14 % 10

if hundreds != 0:
    num_14_1 = int(str(hundreds) + str(tens))

if tens != 0:
    num_14_2 = int(str(tens) + str(hundreds))

if hundreds != 0:
    num_14_3 = int(str(hundreds) + str(units))

if units != 0:
    num_14_4 = int(str(units) + str(hundreds))

if tens != 0:
    num_14_5 = int(str(tens) + str(units))

if units != 0:
    num_14_6 = int(str(units) + str(tens))



print(min(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6),
    max(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6))

NameError: name 'num_14_2' is not defined

In [ ]:
int("01")

1

In [ ]:
num_14 = 103

hundreds = num_14 // 100
tens = num_14 // 10 % 10
units = num_14 % 10

num_14_1 = int(str(hundreds) + str(tens))
num_14_2 = int(str(tens) + str(hundreds))
num_14_3 = int(str(hundreds) + str(units))
num_14_4 = int(str(units) + str(hundreds))
num_14_5 = int(str(tens) + str(units))
num_14_6 = int(str(units) + str(tens))

if len(num_14_1) > 1:
    if len(num_14_2) > 1:
        if len(num_14_3) > 1:
            if len(num_14_4) > 1:
                if len(num_14_5) > 1:
                    if len(num_14_6) > 1:
                        min_num = min(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6)
                        max_num = max(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6)
                    else:
                        min_num = min(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5)
                        max_num = max(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5)

                elif len(num_14_6) > 1:
                    min_num = min(num_14_1, num_14_2, num_14_3, num_14_4, num_14_6)
                    max_num = max(num_14_1, num_14_2, num_14_3, num_14_4, num_14_6)
                else:
                    min_num = min(num_14_1, num_14_2, num_14_3, num_14_4)
                    max_num = max(num_14_1, num_14_2, num_14_3, num_14_4)

            elif len(num_14_5) > 1:
                if len(num_14_6) > 1:
                    min_num = min(num_14_1, num_14_2, num_14_3, num_14_5, num_14_6)
                    max_num = max(num_14_1, num_14_2, num_14_3, num_14_5, num_14_6)
                else:
                    min_num = min(num_14_1, num_14_2, num_14_3, num_14_5)
                    max_num = max(num_14_1, num_14_2, num_14_3, num_14_5)

            else:
                min_num = min(num_14_1, num_14_2, num_14_3)
                max_num = max(num_14_1, num_14_2, num_14_3)
        elif # утопия
        else:
    elif
    else:


print(min_num, max_num)

In [ ]:
# num_14 = 103
# num_14 = 787
num_14 = int(input())

hundreds = num_14 // 100
tens = num_14 // 10 % 10
units = num_14 % 10

num_14_1 = int(str(hundreds) + str(tens)) # 10
num_14_2 = int(str(tens) + str(hundreds)) # 01
num_14_3 = int(str(hundreds) + str(units)) # 13
num_14_4 = int(str(units) + str(hundreds)) # 31
num_14_5 = int(str(tens) + str(units)) # 03
num_14_6 = int(str(units) + str(tens)) # 30

if len(str(num_14_1)) < 2:
    num_14_1 = num_14_2
if len(str(num_14_2)) < 2:
    num_14_2 = num_14_3
if len(str(num_14_3)) < 2:
    num_14_3 = num_14_4
if len(str(num_14_4)) < 2:
    num_14_4 = num_14_5
if len(str(num_14_5)) < 2:
    num_14_5 = num_14_6
if len(str(num_14_6)) < 2:
    num_14_6 = num_14_1

min_num = min(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6)
max_num = max(num_14_1, num_14_2, num_14_3, num_14_4, num_14_5, num_14_6)

print(min_num, max_num)

103
10 31

In [ ]:
num_14_1 = int(str("10"))
num_14_2 = int(str("01"))
num_14_3 = int(str("13"))
num_14_4 = int(str("31"))
num_14_5 = int(str("03"))
num_14_6 = int(str("30"))

print(len(str(num_14_1)))
print(len(str(num_14_2)))
print(len(str(num_14_3)))
print(len(str(num_14_4)))
print(len(str(num_14_5)))
print(len(str(num_14_6)))

2
1
2
2
1
2

In [ ]:
min("1234")

','

Боже! Понял! на одном листе уже есть в предыдущих ячейках переменные с таким именем! Не находит тут, ищет в глобальных переменных! Удивительно, что прорешав столько задач, я только на 34 с этой проблемой сталкнулся.

Не уверен, что это так. В списке глобальных переменных нет эти значений.

Насколько понял, какое-то время эти переменные есть в списке глобальных переменных. А при переподключении colab, они исчезают.

Поработал над именованием.

In [ ]:
# globals()

# user_vars = {k: v for k, v in globals()}
# print(user_vars)

# dir()

# %whos

#### **№2.2.15 Властелин Чисел: Возвращение Цезаря**

In [ ]:
num_1 = 31
num_2 = 11

# num_15_i_1 = 49
# num_15_i_2 = 17

# num_15_1 = int(input())
# num_15_2 = int(input())

num_1_1 = num_1 // 10
num_1_2 = num_1 % 10
num_2_3 = num_2 // 10
num_2_4 = num_2 % 10

mid_15 = 0
i = 0

max_15 = max(num_1_1, num_1_2, num_2_3, num_2_4)
min_15 = min(num_1_1, num_1_2, num_2_3, num_2_4)

print(0, 0, mid_15, i)

if min_15 < num_1_1 < max_15:
    mid_15 += num_1_1
else:
    print(1, num_1_1, mid_15, i)
    if i < 2:
        mid_15 += num_1_1
        i += 1
print(1, num_1_1, mid_15, i)


if min_15 < num_1_2 < max_15:
    mid_15 += num_1_2
else:
    print(2, num_1_2, mid_15, i)
    if i < 2:
        mid_15 += num_1_2
        i += 1
print(2, num_1_2, mid_15, i)

if min_15 < num_2_3 < max_15:
    mid_15 += num_2_3
else:
    print(3, num_2_3, mid_15, i)
    if i < 2:
        mid_15 += num_2_3
        i += 1
print(3, num_2_3, mid_15, i)

if min_15 < num_2_4 < max_15:
    mid_15 += num_2_4
else:
    print(4, num_2_4, mid_15, i)
    if i < 2:
        mid_15 += num_2_4
        i += 1
print(4, num_2_4, mid_15, i)

mid_15 %= 10

print(str(max_15) + str (mid_15) + str(min_15))

0 0 0 0
1 3 0 0
1 3 3 1
2 1 3 1
2 1 4 2
3 1 4 2
3 1 4 2
4 1 4 2
4 1 4 2
341

In [ ]:
num_1 = 31
num_2 = 11

# num_15_i_1 = 49
# num_15_i_2 = 17

# num_15_1 = int(input())
# num_15_2 = int(input())

num_1_1 = num_1 // 10
num_1_2 = num_1 % 10
num_2_3 = num_2 // 10
num_2_4 = num_2 % 10

mid_15 = 0
i = 0

max_15 = max(num_1_1, num_1_2, num_2_3, num_2_4)
min_15 = min(num_1_1, num_1_2, num_2_3, num_2_4)


if min_15 < num_1_1 < max_15:
    mid_15 += num_1_1
else:
    if i < 2:
        mid_15 += num_1_1
        i += 1


if min_15 < num_1_2 < max_15:
    mid_15 += num_1_2
else:
    if i < 2:
        mid_15 += num_1_2
        i += 1

if min_15 < num_2_3 < max_15:
    mid_15 += num_2_3
else:
    if i < 2:
        mid_15 += num_2_3
        i += 1

if min_15 < num_2_4 < max_15:
    mid_15 += num_2_4
else:
    if i < 2:
        mid_15 += num_2_4
        i += 1

mid_15 %= 10

print(str(max_15) + str (mid_15) + str(min_15))

341

In [ ]:
# варианты:
# 12 34 - 451 - ок
# 17 89 - 951 - ок
# 11 11 - 121 - ок
# 22 21 - 241 - ок
# 11 12 - 221 - ок
# 11 22 - 231 - ок
# 42 21 - 441 - ок
# 44 21 - 461 - не ок

num_1 = 44
num_2 = 21

# num_1 = int(input())
# num_2 = int(input())

num_1_1 = num_1 // 10
num_1_2 = num_1 % 10
num_2_3 = num_2 // 10
num_2_4 = num_2 % 10

mid_15 = 0

max_15 = max(num_1_1, num_1_2, num_2_3, num_2_4)
min_15 = min(num_1_1, num_1_2, num_2_3, num_2_4)


# если средние числа не максимальные и не минимальные (с доп условиями):
if min_15 < num_1_1 < max_15:
    mid_15 += num_1_1
    print(1, mid_15)

if min_15 < num_1_2 < max_15:
    mid_15 += num_1_2
    print(2, mid_15)

if min_15 < num_2_3 < max_15:
    mid_15 += num_2_3
    print(3, mid_15)

if min_15 < num_2_4 < max_15:
    mid_15 += num_2_4
    print(4, mid_15)

# если все 4 числа равны друг другу:
if num_1_1 == num_1_2 == num_2_3 == num_2_4:
    mid_15 += num_1_1 * 2
    print(5, mid_15)

# если 3 числа равны друг другу (комбинации):
elif num_1_1 == num_1_2 == num_2_3:
    mid_15 += num_1_1 * 2
    print(6, mid_15)

elif num_1_1 == num_1_2 == num_2_4:
    mid_15 += num_1_1 * 2
    print(7, mid_15)

elif num_1_1 == num_2_3 == num_2_4:
    mid_15 += num_1_1 * 2
    print(8, mid_15)

elif num_1_2 == num_2_3 == num_2_4:
    mid_15 += num_1_2 * 2
    print(9, mid_15)

# если 2 числа равны друг другу (комбинации):
else:
    if not (min_15 < num_1_1 < max_15)\
    and not (min_15 < num_1_2 < max_15)\
    and not (min_15 < num_2_3 < max_15)\
    and not (min_15 < num_2_4 < max_15):
        if num_1_1 == num_1_2:
            mid_15 += num_1_1
            print(10, mid_15)

        if num_1_1 == num_2_3:
            mid_15 += num_1_1
            print(11, mid_15)

        if num_1_1 == num_2_4:
            mid_15 += num_1_1
            print(12, mid_15)

        if num_1_2 == num_2_3:
            mid_15 += num_1_2
            print(13, mid_15)

        if num_1_2 == num_2_4:
            mid_15 += num_1_2
            print(14, mid_15)

        if num_2_3 == num_2_4:
            mid_15 += num_2_3
            print(15, mid_15)


mid_15 %= 10

print(int(str(max_15) + str(mid_15) + str(min_15)))

3 2
421

In [ ]:
# варианты:
# 12 34 - 451 - ок
# 17 89 - 951 - ок
# 11 11 - 121 - ок
# 22 21 - 241 - ок
# 11 12 - 221 - ок
# 11 22 - 231 - ок
# 42 21 - 441 - ок
# 44 21 - 461 - ок

# num_1 = 42
# num_2 = 21

num_1 = int(input())
num_2 = int(input())

num_1_1 = num_1 // 10
num_1_2 = num_1 % 10
num_2_3 = num_2 // 10
num_2_4 = num_2 % 10


max_15 = max(num_1_1, num_1_2, num_2_3, num_2_4)
min_15 = min(num_1_1, num_1_2, num_2_3, num_2_4)

mid_15 = (num_1_1 + num_1_2 + num_2_3 + num_2_4) - max_15 - min_15

mid_15 %= 10

print(int(str(max_15) + str(mid_15) + str(min_15)))

44
21
461

#### **№2.2.16 Легенды велогонок возвращаются: кто быстрее?**

In [ ]:
first_name = 'Петя'
first_speed = float(input())
second_name = 'Вася'
second_speed = float(input())
third_name = 'Толя'
third_speed = float(input())


if first_speed < second_speed:
    first_speed, second_speed = second_speed, first_speed  # Обмен значениями скоростей
    first_name, second_name = second_name, first_name  # Обмен именами велогонщиков

if second_speed < third_speed:
    second_speed, third_speed = third_speed, second_speed
    second_name, third_name = third_name, second_name

if first_speed < second_speed:
    first_speed, second_speed = second_speed, first_speed
    first_name, second_name = second_name, first_name

# в одну строчку Контекст возмущается, слишком длинная строка
print(f"""{' ' * 8}{first_name:^8}{' ' * 8}
{second_name:^8}{' ' * 16}
{' ' * 16}{third_name:^8}
   II      I      III   """)

10
5
7
          Петя
  Толя
                  Вася
   II      I      III

In [ ]:
print(f"!{'1'*8:^14}!")
!        !

!   11111111   !

#### **№2.2.17 Корень зла**

In [ ]:
# a = 1
# b = -2
# c = 1

# a = 3.5
# b = -2.4
# c = -7.3

# a = float(input())
# b = float(input())
# c = float(input())

# перебор всех вариантов
a = 0
b = 1
c = 1


D = b**2 - 4 * a * c

if c == 0 and b == 0 and c == 0:
    print("Infinite solutions")

elif a == 0 and b == 0:
    print("No solution")

elif a == 0:
    x_1 = x_2 = -c / b
    print(f"{x_1:.2f}")

elif c == 0 and b == 0:
    x_1 = x_2 = 0
    print(f"{x_1:.2f}")

elif b == 0:
    if c < 0 and a > 0 or c > 0 and a < 0:
        x_1 = -(-c / a)**0.5
        x_2 = (-c / a)**0.5

        if x_1 < x_2:
            print(f"{x_1:.2f} {x_2:.2f}")
        else:
            print(f"{x_2:.2f} {x_1:.2f}")

    if c < 0 and a < 0 or c > 0 and a > 0:
        print("No solution")

elif c == 0:
    x_1 = 0
    x_2 = -b / a

    if x_1 < x_2:
        print(f"{x_1:.2f} {x_2:.2f}")
    else:
        print(f"{x_2:.2f} {x_1:.2f}")

elif D > 0:
    x_1 = (-b - D**0.5) / (2 * a)
    x_2 = (-b + D**0.5) / (2 * a)

    if x_1 < x_2:
        print(f"{x_1:.2f} {x_2:.2f}")
    else:
        print(f"{x_2:.2f} {x_1:.2f}")

elif D == 0:
    x_1 = x_2 = -b / (2 * a)
    print(f"{x_1:.2f}")

elif D < 0:
    print("No solution")

-1.00

#### **№2.2.18 Территория зла**

In [ ]:
a = int(input())
b = int(input())
c = int(input())


if a == max(a, b, c):
    if b**2 + c**2 == a**2:
        print("100%")
    elif b**2 + c**2 < a**2:
        print("велика")
    else:
        print("крайне мала")

elif b == max(a, b, c):
    if a**2 + c**2 == b**2:
        print("100%")
    elif a**2 + c**2 < b**2:
        print("велика")
    else:
        print("крайне мала")

elif c == max(a, b, c):
    if a**2 + b**2 == c**2:
        print("100%")
    elif a**2 + b**2 < c**2:
        print("велика")
    else:
        print("крайне мала")

6
3
4
велика

#### !!! - **№2.2.19 Автоматизация безопасности**

In [ ]:
x = 3.5
y = -3.2

if x**2 + y**2 <= 0:
    if

else:
    print("Вы вышли в море и рискуете быть съеденным акулой!")



print("Опасность! Покиньте зону как можно скорее!")
print("Зона безопасна. Продолжайте работу.")

#### **№2.2.20 Зайка — 2**

In [ ]:
# string_1 = "березка елочка зайка волк березка"
# string_2 = "сосна сосна сосна елочка грибочки медведь"
# string_3 = "сосна сосна сосна белочка сосна белочка"

# string_1 = "зайка березка"
# string_2 = "березка зайка"
# string_3 = "березка елочка березка"

string_1 = input()
string_2 = input()
string_3 = input()


if "зайка" in string_1:
    if "зайка" in string_2:
        if "зайка" in string_3:
            min_string = min(string_1, string_2, string_3)
            print(min_string, len(min_string))
        else:
            min_string = min(string_1, string_2)
            print(min_string, len(min_string))

    elif "зайка" in string_3:
        min_string = min(string_1, string_3)
        print(min_string, len(min_string))

    else:
        print(string_1, len(string_1))

elif "зайка" in string_2:
    if "зайка" in string_3:
        min_string = min(string_2, string_3)
        print(min_string, len(min_string))
    else:
        print(string_2, len(string_2))

elif "зайка" in string_3:
    print(string_3, len(string_3))

else:
    min_string = min(string_1, string_2, string_3)
    print(min_string)

березка зайка 13

## **2.3. Циклы**

### **Контент**

In [ ]:
saved_pwd = "right_password"
pwd = input("Введите пароль для входа: ")
while pwd != saved_pwd:
    pwd = input("Введите пароль для входа: ")
print("Пароль верный. Вход разрешён.")

Введите пароль для входа: ощощшго
Введите пароль для входа: right_password
Пароль верный. Вход разрешён.

In [ ]:
saved_pwd = "right_password"
while input("Введите пароль для входа: ") != saved_pwd:
    pass
print("Пароль верный. Вход разрешён.")

Введите пароль для входа: rfergerg
Введите пароль для входа: erferf
Введите пароль для входа: right_password
Пароль верный. Вход разрешён.

In [ ]:
name = input("Введите имя: ")
while name != "СТОП":
    print(f"Привет, {name}!")
    name = input("Введите имя: ")
print("Программа завершена.")

Введите имя: СТОП
Программа завершена.

In [ ]:
while (name := input("Введите имя: ")) != "СТОП":
    print(f"Привет, {name}!")
print("Программа завершена.")

Введите имя: СТОП
Программа завершена.

In [ ]:
n = int(input("Введите количество чисел: "))
for i in range(n):
    print(i)

Введите количество чисел: 6
0
1
2
3
4
5

In [ ]:
k = int(input("Введите начало диапазона: "))
n = int(input("Введите конец (без включения) диапазона: "))
for i in range(k, n):
    print(i)

Введите начало диапазона: 1
Введите конец (без включения) диапазона: 5
1
2
3
4

In [ ]:
n = int(input("Введите конец диапазона: "))
for i in range(0, n + 1, 2):
    print(i)

Введите конец диапазона: 6
0
2
4
6

In [ ]:
n = int(input("Введите первое число: "))
for i in range(n, -1, -1):
    print(i)

Введите первое число: 7
7
6
5
4
3
2
1
0

In [ ]:
for i in range(1, 5, -1):
    print(i)

In [ ]:
n = int(input("Введите n: "))
for i in range(n):
    print(i)
    i = 100

Введите n: 4
0
1
2
3

### **Задачи**

#### **№2.3.1 Раз, два, три! Ёлочка, гори!**

In [ ]:
while input() != "Три!":
    print("Режим ожидания...")
print("Ёлочка, гори!")

thrth
Режим ожидания...
tyh
Режим ожидания...
Три!
Ёлочка, гори!

#### **№2.3.2 Зайка — 3**

In [ ]:
n = 0
while (string := input()) != "Приехали!":
    if "зайка" in string:
        n += 1
print(n)

березка елочка зайка волк березка
сосна сосна сосна елочка грибочки медведь
сосна сосна сосна белочка сосна белочка
Приехали!
1

#### **№2.3.3 Считалочка**

In [ ]:
k = int(input())
n = int(input())
for i in range(k, n + 1):
    print(i, end=" ")

1
10
1 2 3 4 5 6 7 8 9 10

#### **№2.3.4 Считалочка 2.0**

In [ ]:
k = int(input())
n = int(input())

if k < n:
    for i in range(k, n + 1):
        print(i, end=" ")
else:
    for i in range(k, n - 1, -1):
        print(i, end=" ")

3
-3
3 2 1 0 -1 -2 -3

In [ ]:
start = int(input())
finish = int(input())

step = 1 # шаг по умолчанию положительный
if finish < start:  # если данные отличаются от предыдущей задачи - "подгоним" их
    step = -1

for number in range(start, finish + step, step):
    print(number, end=" ")

5
-5
5 4 3 2 1 0 -1 -2 -3 -4 -5

#### **№2.3.5 Внимание! Акция!**

In [ ]:
sum = 0

while (price := float(input())) != 0:
    if price >= 500:
        sum += price * 0.9
    else:
        sum += price

print(sum)

512
499
342.5
0
1302.3

#### **№2.3.6 НОД**

In [ ]:
a = int(input())
b = int(input())

while b:
    a, b = b, a % b

print(a)

512
625
1

#### **№2.3.7 НОК**

In [ ]:
a = int(input())
b = int(input())

c = a
d = b

while b:
    a, b = b, a % b

result = (c * d) / a

print(int(result))

512
625
320000

#### **№2.3.8 Излишняя автоматизация 2.0**

In [ ]:
info = input()

for _ in range(int(input())):
    print(f"{info}")

Нельзя нажимать неизвестные кнопки!
4
Нельзя нажимать неизвестные кнопки!
Нельзя нажимать неизвестные кнопки!
Нельзя нажимать неизвестные кнопки!
Нельзя нажимать неизвестные кнопки!

#### **№2.3.9 Факториал**

In [ ]:
result = 1

for i in range(1, int(input()) + 1):
    result *= i

print(result)

5
120

#### **№2.3.10 Маршрут построен**

In [ ]:
x = 0
y = 0

while (direction := input()) != "СТОП":
    n = int(input())

    if direction == "СЕВЕР":
        x += n
    elif direction == "ЮГ":
        x -= n
    elif direction == "ВОСТОК":
        y += n
    elif direction == "ЗАПАД":
        y -= n

print(x, y, sep="\n")

СЕВЕР
2
ВОСТОК
2
СТОП
2
2

In [ ]:
x = 0
y = 0

while (direction := input()) != "СТОП":
    n = int(input())

    match direction:
        case "СЕВЕР":
            x += n
        case "ЮГ":
            x -= n
        case "ВОСТОК":
            y += n
        case "ЗАПАД":
            y -= n

print(x, y, sep="\n")

СЕВЕР
2
ЮГ
3
ЗАПАД
4
СТОП
-1
-4

#### **№2.3.11 Цифровая сумма**

In [ ]:
number = int(input())
sum = 0

while number:
    sum += number % 10
    number //= 10

print(sum)

100500
6

#### **№2.3.12 Сильная цифра**

In [ ]:
number = int(input())
max = 0

while number:
    if max < (number % 10):
        max = number % 10

    number //= 10

print(max)

123456
6

#### **№2.3.13 Первому игроку приготовиться 2.0**

In [ ]:
amount = int(input()) - 1
name = input()

while amount:
    if name > (name_2 := input()):
        name = name_2

    amount -= 1

print(name)

4
Толя
Коля
Вася
Юля
Вася

In [ ]:
result = '\u1000'

for _ in range(int(input())):
    result = min(result, input())

print(result)

3
Аня
Жора
Миша
Аня

#### **!!! - №2.3.14 Простая задача**

In [ ]:
import datetime

number = int(input())
date_1 = datetime.datetime.now()
print()
i = 0

for n in range(1, number + 1):
    if number % n == 0:
        i += 1

if i == 2:
    print("YES")
else:
    print("NO")
date_2 = datetime.datetime.now()
print(i)
print(n)
print(date_2 - date_1)

1234

NO
4
1234
0:00:00.001019

In [ ]:
import datetime
date_1 = datetime.datetime.now()
date_2 = datetime.datetime.now()
print(date_2 - date_1)

0:00:00.000050

In [ ]:
import datetime

number = int(input())
date_1 = datetime.datetime.now()
print()
i = 0

for n in range(1, number + 1):
    if (number % n == 0):
        i += 1
    if n > number / 2:
        break

if i == 1 and number != 1:
    print("YES")
elif number == 2:
    print("YES")
else:
    print("NO")
print(i)
print(n)
date_2 = datetime.datetime.now()
print(date_2 - date_1)

1234

NO
3
618
0:00:00.000665

In [ ]:
import datetime

number = int(input())
date_1 = datetime.datetime.now()
print()
i = 0

for n in range(1, number + 1):
    if (number % n == 0):
        i += 1
    if i > 2:
        break
    if n > number / 2:
        break

if i == 1 and number != 1:
    print("YES")
elif number == 2:
    print("YES")
else:
    print("NO")

print(i)
print(n)
date_2 = datetime.datetime.now()
print(date_2 - date_1)

4

NO
2
3
0:00:00.000496

In [ ]:
number = int(input())

i = 0

for n in range(1, number + 1):
    if (number % n == 0):
        i += 1
    if i > 2:
        break
    if n > number / 2:
        break

if i == 1 and number != 1:
    print("YES")
elif number == 2:
    print("YES")
else:
    print("NO")

#### **№2.3.15 Зайка - 4**

In [ ]:
number = int(input())

n = 0
for _ in range(number):
    string = input()

    if "зайка" in string:
        n += 1

print(n)

3
гавно хер хуй
сука пизда блядь
зайка
1

#### **№2.3.16 А роза упала на лапу Азора 2.0**

In [ ]:
n = int(input())

m = 0
n_2 = n

while n_2 > 0:
    d = n_2 % 10
    m = m * 10 + d
    n_2 //= 10

if n == m:
    print("YES")
else:
    print("NO")

123454321
YES

#### **№2.3.17 Чётная чистота**

In [ ]:
n = int(input())

m = 0
i = 0

while n > 0:
    d = n % 10
    if d % 2 != 0:
        m = m + d * 10**i
        i += 1
    n //= 10

print(m)

123454321
13531

#### **!!! - №2.3.18 Простая задача 2.0**

In [ ]:
n = int(input())

result = str()

while n != 1:
    while n % 2 == 0:
        result += str(2) + " * "
        n /= 2
    while n % 3 == 0:
        result += str(3) + " * "
        n /= 3
    while n % 5 == 0:
        result += str(5) + " * "
        n /= 5
    while n % 7 == 0:
        result += str(7) + " * "
        n /= 7
    while n % 11 == 0:
        result += str(11) + " * "
        n /= 11
    while n % 13 == 0:
        result += str(13) + " * "
        n /= 13
    while n % 17 == 0:
        result += str(17) + " * "
        n /= 17
    while n % 19 == 0:
        result += str(19) + " * "
        n /= 19

length = len(result)
result = result[:length - 3]

print(result)

KeyboardInterrupt:

#### **!!! - №2.3.19 Игра в «Угадайку»**

In [ ]:
number = int(input("Загаданное число:\n"))

i = 0

while i < 10:
    n = int(input())

    if n < number:
        print("Больше")
    elif n > number:
        print("Меньше")
    else:
        print("Угадал!")
        break

    i += 1

if n == number:
    print("Число отгадано")
else:
    print("Число не отгадано")

Загаданное число:
123
4
Больше
6
Больше
7
Больше
8
Больше
178
Меньше
179
Меньше
1
Больше
1
Больше
1
Больше
1
Больше
Число не отгадано

In [ ]:
import random

number = int(input("Загаданное число:\n"))

start = 1
stop = 1000
n = 0
i = 0

while i < 10:
    n = random.randint(start, stop)

    if n < number:
        print("Больше")
        start = n

    elif n > number:
        print("Меньше")
        stop = n

    else:
        print("Угадал!")
        break

    i += 1


if n == number:
    print("Число отгадано")
else:
    print("Число не отгадано")

Загаданное число:
123
Меньше
Меньше
Больше
Меньше
Меньше
Больше
Больше
Меньше
Больше
Меньше
Число не отгадано

#### **!!! - №2.3.20 Хайпанём немножечко!**

In [ ]:
prev = 0  # для хранения предыдущего хеша
bad = -1  # для хранения номера "плохого" блока


for index in range(int(input())):
    block = int(input())

m = block
r =
h =

## **2.4. Вложенные циклы**

### **Контент**

### **Задачи**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**

#### **№2.4. XXX**